<footer class="border-t border-b-maroon-light dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300 py-4 px-6 flex flex-col md:flex-row items-center justify-between">
  <div class="flex space-x-4 text-maroon-light dark:text-gray-300 mb-2 md:mb-0">
    <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" aria-label="X"><i class="fab fa-x-twitter"></i></a>
  </div>
  <p>Copyright © {{year}}, Nikolaos Theofanis</p>
</footer>
