<main>
  <div [class]="isAdmin ? 'justify-between' : 'justify-end'"
    class="flex justify-between items-center">
    @if (isAdmin) {
        <a class="bg-maroon-primary hover:bg-maroon-light text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 transform hover:scale-105"
           routerLink="/admin-panel"
        >Change to Admin Mode</a>
    }
    <a class="bg-maroon-primary hover:bg-maroon-light text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 transform hover:scale-105"
       [routerLink]="['tasks', 'new-task']">Add Task</a>
  </div>
  <router-outlet></router-outlet>
</main>
